xcuserdata/
*.xcuserstate
DerivedData/
build/
.DS_Store
bin/
obj/
*.user
*.suo
packages/
.env*
!.env.example
.build/
*.swiftpm/
Packages/
node_modules/
*.log
*.xcresult/
.azurite/
TestResults/
Thumbs.db
*.tmp
*.swp
.vscode/
.idea/
